<div class="container">
  <div class="row">
    <button class="btn btn-sm btn-primary" (click)="signIn()">ورود</button>
    <button class="btn btn-sm btn-success" (click)="signUp()">ثبت نام</button>
  </div>
  <br>
  <div class="row">
    <button class="btn btn-sm btn-warning" (click)="signOut()">خروج</button>
  </div>
  <div class="row">
    <p *ngIf="isSignedIn()">user signed in</p>
    <p *ngIf="!isSignedIn()">user is not signed in</p>
  </div>
  <br>
  <div class="row">
    <button class="btn btn-sm btn-danger" (click)="printClaims()">print claims</button>
  </div>
</div>

<ng-template #signInModalTemplate>
  <div class="modal fade" id="modal-id">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <!-- <h4 class="modal-title">{{modalOptions.modalTitle}}</h4> -->
        </div>
        <div class="modal-body">
          <p>لطفا لاگین کنید</p>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-danger" (click)="yes()">Yes</button>
          <button type="button" class="btn btn-secondary" (click)="no()">No</button> -->
        </div>
      </div>
    </div>
  </div>
</ng-template>