<div class="container">
  <div class="row">
    <button class="btn btn-sm btn-primary" (click)="signIn()">ورود</button>
    <button class="btn btn-sm btn-success" (click)="signUp()">ثبت نام</button>
  </div>
  <br>
  <div class="row">
    <button class="btn btn-sm btn-warning" (click)="signOut()">خروج</button>
  </div>
  <div class="row">
    <p *ngIf="isSignedIn()">user signed in</p>
    <p *ngIf="!isSignedIn()">user is not signed in</p>
  </div>
  <br>
  <div class="row">
    <button class="btn btn-sm btn-danger" (click)="printClaims()">print claims</button>
  </div>
</div>

<button class="btn btn-lg btn-outline-primary" (click)="open()">Launch demo modal</button>

<hr>

<pre>{{closeResult}}</pre>

<!-- <ng-template #signInModalTemplate>
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>One fine body&hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<ng-template #tmpModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>One fine body&hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template> -->