<div class="modal-header">
  <h4 class="modal-title">ورود به سامانه</h4>
</div>
<div class="modal-body">

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">نام کاربری</span>
    </div>
    <input type="text" class="form-control" name="username" [(ngModel)]="username" aria-label="نام کاربری">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">نام کاربری</span>
    </div>
    <input type="password" class="form-control" name="password" [(ngModel)]="password" aria-label="کلمه عبور">
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary btn-sm" (click)="signIn()">
    ورود
  </button>
  <button type="button" class="btn btn-warning btn-sm" (click)="close()">
    انصراف
  </button>
</div>