<!-- <div dir="rtl">
  <p mat-dialog-title>ورود به سامانه</p>
  <mat-dialog-content>
    <form>
      <mat-form-field>
        <input matInput placeholder="نام کاربری" name="username" [(ngModel)]="username" />
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput placeholder="کلمه عبور" name="password" [(ngModel)]="password" />
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button (click)="signIn()" color="primary">ورود</button>
    <button mat-button [mat-dialog-close]="false">انصراف</button>
  </mat-dialog-actions>
</div> -->

<div class="modal fade" id="modal-id">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <!-- <h4 class="modal-title">{{modalOptions.modalTitle}}</h4> -->
      </div>
      <div class="modal-body">
        <p>لطفا لاگین کنید</p>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-danger" (click)="yes()">Yes</button>
        <button type="button" class="btn btn-secondary" (click)="no()">No</button> -->
      </div>
    </div>
  </div>
</div>
